extends layout 


block main-content 
    
  div.starter Welcome to Toronto Escape-Short Term Trip Planner 
    p Your ultimate destination for planning and booking short-term trips around Toronto!
    p Our website offers a wide variety of options for those who want to experience the best that Toronto has to offer, but may not have the time for a long-term vacation. Whether you're a local looking for a weekend getaway, or a visitor wanting to explore the city in a short period, we've got you covered.
    p Our team of travel experts have carefully curated a selection of the most exciting, unique and affordable short-term trips that you can experience in and around Toronto. From exploring the city's vibrant culture and history, to immersing yourself in the stunning natural beauty of the surrounding areas, our trips cater to all tastes and preferences.
    p Our user-friendly website allows you to easily browse, plan and book your perfect short-term trip, all in one place. With a secure and convenient online booking system, you can rest assured that your trip will be hassle-free from start to finish.
    p So why wait? Start planning your next Toronto adventure with Toronto Short Trips today!
    
    div Here is our popular destination:

      <div class="destination"> 
       <div class="niagarafalls">
       <a href="/niagarafalls"><img src="/img/niagarafalls.jpg" alt="niagarafalls" width="200"></a>
       <a href="/niagarafalls">Niagara Falls</a>
       </div> 
     

       <div class="elora">
       <a href="/elora"><img src="/img/elora.jpg" alt="elora" width="200"></a>
       <a href="/elora">Elora</a>
       </div> 

      <div class="algonquin">
       <a href="/algonquin"><img src="/img/algonquin.jpg" alt="algonquin" width="200"></a>
       <a href="/algonquin">Algonquin</a>
       </div> 
      </div>

  //- p #{stay.results[0].name}
  //- div #{weather.daily.data[0].summary}
  //- ul 
  //-    each w in weather.daily.data  
  //-      li 
  //-      div #{w.summary} 
  